@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background: #F5F5F1; }

header {
  height: 82px;
  background: white;
  clear: both; }

.etsimg {
  float: left;
  height: 50px;
  margin-left: 231px;
  margin-top: 10px; }

.headLeft {
  float: left;
  margin-bottom: 15px; }

.headLeftRight {
  float: left;
  margin-left: 330px;
  margin-top: -42px; }

.searchinp {
  border: solid 1px #D0CBC8;
  border-radius-left: 4px;
  height: 35px;
  width: 253px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

button {
  margin-left: -4px;
  height: 35px;
  width: 80px;
  font: Arial, sans-serif;
  text-align: center;
  background-color: #00ABC7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  font-weight: bold;
  decoration: none; }

button:hover {
  background-color: #00B3CC;
  opacity: 0.1; }

.bro {
  text-decoration: none; }

.browse {
  padding: 7px;
  border: 1px solid #E0E5DF;
  border-radius: 4px; }

.browse:hover {
  border: 1px solid black; }

.imgetsy {
  margin-top: 10px; }

.headRight {
  float: right;
  margin-right: 242px;
  margin-top: 25px;
  display: inline-block; }

.reg {
  font-family: Arial, sans-serif;
  color: #0094B8;
  margin-right: 15px;
  position: relative; }

.reg:hover {
  text-decoration: underline; }

.signIn {
  font-family: Arial, sans-serif;
  color: #0094B8;
  margin-left: 0px;
  margin-right: 60px;
  padding: 10px;
  border: 1px solid #0094B8;
  border-radius: 4px; }

.signIn:hover {
  background-color: #EEFCFE; }

.regRight {
  float: right;
  margin-left: 30px;
  margin-top: 10px; }

.cartCart {
  float: right;
  margin-right: 5px; }

.cart {
  height: 20px;
  float: right;
  margin-top: -28px;
  margin-right: -22px;
  border-left: 1px solid #eeeeee; }

.grr {
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin-left: 190px;
  margin-top: 18px;
  margin-bottom: -10px; }

.smallbox {
  width: 100%;
  margin: 0 auto; }

aside {
  width: 25%;
  float: left;
  margin-left: 188px;
  margin-top: -42px;
  margin-right: -186px; }

h5 {
  margin-bottom: -5px;
  margin-left: 15px;
  margin-top: 15px;
  font-family: Arial, sans-serif; }

.topaside {
  width: 246px;
  height: 409px;
  border: 1px solid #E1E4DF;
  border-radius: 4px;
  margin-top: 58px;
  background: white; }

.list1 {
  list-style-type: none; }

li {
  list-style-type: none;
  padding-bottom: 9px;
  margin-left: -15px;
  color: #0094B8;
  font-size: 12px;
  font-weight: normal; }

li:hover {
  text-decoration: underline; }

.refyo {
  font-size: 13.5px;
  margin-top: 30px;
  margin-bottom: 12px; }

.bottomAside {
  width: 246px;
  height: 656px;
  border: 1px solid #E1E4DF;
  border-radius: 4px;
  background: white; }

h6 {
  margin-top: 15px;
  margin-left: 20px; }

.radios {
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px; }

.radios {
  width: 220px;
  border-bottom: 1px solid #E0E5DF;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: -30px; }

.listTwo {
  line-height: 4px; }

.low {
  width: 75px;
  height: 40px;
  border-radius: 4px;
  border-style: none;
  border: 1px solid #D9D9D9; }

.tooo {
  font-size: 12px; }

.high {
  width: 75px;
  height: 40px;
  margin-left: 2px;
  border-radius: 4px;
  border-style: none;
  border: 1px solid #D9D9D9; }

.titlePrice {
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin-left: 8px;
  margin-top: 15px;
  margin-bottom: 12px; }

.triBox {
  width: 39px;
  height: 40px;
  border: 1px solid #D9D9D9;
  display: inline-block;
  margin-bottom: -14px;
  border-radius: 4px;
  content: '▾'; }

.price {
  padding-bottom: 20px;
  margin-left: 12px;
  margin-right: 12px;
  border-bottom: solid 1px #E0E5DF; }

input[type="text"]:focus {
  outline: none; }

.culluhFilt {
  font-family: Arial, sans-serif;
  font-size: 13px; }

.colluh {
  display: inline-block;
  height: 21px;
  width: 21px;
  border: 1px solid #E1E4DF; }

.one {
  background-color: #FF0002; }

.two {
  background-color: #FF7100; }

.three {
  background-color: #F6D000; }

.four {
  background-color: #00CF08; }

.five {
  background-color: #00D0F7; }

.six {
  background-color: #BC00F5; }

.seven {
  background-color: #000000; }

.eight {
  background-color: #FFFFFF; }

.culluh {
  padding-bottom: 20px;
  margin-left: 12px;
  margin-right: 12px;
  border-bottom: solid 1px #E0E5DF; }

.order {
  margin-left: 12px;
  border-bottom: 1px solid #E0E5DF;
  margin-right: 12px;
  padding-bottom: 5px; }

.ordering {
  font-size: 13px;
  margin-bottom: 5px; }

.accept {
  margin-left: 5px;
  font-size: 12px;
  color: #0094B8;
  font-weight: normal; }

.accept:hover {
  text-decoration: underline; }

.custom {
  margin-left: 5px;
  font-size: 12px;
  color: #0094B8;
  font-weight: normal; }

.custom:hover {
  text-decoration: underline; }

.location {
  margin-left: 12px;
  margin-right: 12px;
  border-bottom: 1px solid #E0E5DF;
  padding-bottom: 15px; }

.shopLoc {
  font-size: 13px;
  font-family: Arial, sans-serif;
  margin-bottom: 5px; }

.anywhere {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #0094B8;
  font-weight: normal; }

.anywhere:hover {
  text-decoration: underline; }

.usa {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #0094B8;
  font-weight: normal; }

.usa:hover {
  text-decoration: underline; }

.custloc {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #0094B8;
  font-weight: normal; }

.custloc:hover {
  text-decoration: underline; }

.ship {
  font-size: 13px;
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
  margin-left: 12px;
  margin-top: 10px; }

select {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: white;
  margin-left: 12px;
  width: 219px;
  height: 29px;
  padding-left: 65px;
  font-family: Arial, sans-serif;
  font-weight: normal; }

.section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  float: right;
  display: block;
  padding-left: 140px; }

.section:last-child {
  margin-right: 0; }

.section .imgCard {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: 200px;
  width: 225px;
  border: 1px solid gray;
  margin-bottom: 15px; }

.section .imgCard:last-child {
  margin-right: 0; }

.section .imgCard:nth-child(3n) {
  margin-right: 0; }

.section .imgCard:nth-child(3n+1) {
  clear: left; }

section:last-child {
  margin-right: 0px; }
